version: '3.8'

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: polet-app-prod
    ports:
      - "3003:3003"
    depends_on:
      redis:
        condition: service_healthy
      mongo1:
        condition: service_healthy
      admin-init:
        condition: service_completed_successfully
    env_file:
      - .env
    networks:
      - backend
    volumes:
      - /var/polet/uploads:/app/uploads
      - /var/polet/logs:/app/logs
    command: ["npm", "run", "start"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3003/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  worker:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: polet-worker-prod
    depends_on:
      redis:
        condition: service_healthy
      mongo1:
        condition: service_healthy
      admin-init:
        condition: service_completed_successfully
    env_file: .env
    networks:
      - backend
    volumes:
      - /var/polet/uploads:/app/uploads
      - /var/polet/logs:/app/logs
    command: ["node", "src/queues/worker/processors.js"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pgrep", "-f", "processors.js"]
      interval: 15s
      timeout: 5s
      retries: 3

  redis:
    image: redis:7-alpine
    container_name: polet-redis-prod
    ports:
      - "6381:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    command: redis-server --appendonly yes

  mongo1:
    image: mongo:6.0
    container_name: mongo1-prod
    ports:
      - "27017:27017"
    volumes:
      - mongo1_data:/data/db
    command: mongod --replSet rs0 --bind_ip_all
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - backend
    restart: unless-stopped

  mongo2:
    image: mongo:6.0
    container_name: mongo2-prod
    ports:
      - "27018:27017"
    volumes:
      - mongo2_data:/data/db
    command: mongod --replSet rs0 --bind_ip_all
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - backend
    restart: unless-stopped

  mongo3:
    image: mongo:6.0
    container_name: mongo3-prod
    ports:
      - "27019:27017"
    volumes:
      - mongo3_data:/data/db
    command: mongod --replSet rs0 --bind_ip_all
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - backend
    restart: unless-stopped

  rs-init:
    image: node:20-alpine
    container_name: rs-init-prod
    depends_on:
      mongo1:
        condition: service_healthy
      mongo2:
        condition: service_healthy
      mongo3:
        condition: service_healthy
    volumes:
      - ./init-replica.js:/app/init-replica.js
    working_dir: /app
    command: sh -c "npm install mongodb && node init-replica.js"
    networks:
      - backend

  admin-init:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: polet-admin-init-prod
    depends_on:
      rs-init:
        condition: service_completed_successfully
    command: ["node", "src/scripts/createAdmin.js"]
    restart: "on-failure"
    env_file:
      - .env
    networks:
      - backend
    volumes:
      - ./src/scripts:/app/src/scripts

networks:
  backend:

volumes:
  redis_data:
  mongo1_data:
  mongo2_data:
  mongo3_data: