<tr>
  <td style="text-align: center; padding: 10px 0;">
    <a href="{{tg}}" style="margin:0 5px;"><img src="{{tgIcon}}" width="24" /></a>
    <a href="{{site}}" style="margin:0 5px;"><img src="{{siteIcon}}" width="24" /></a>
  </td>
</tr>